<h1>Listing transactions</h1>
  
<table id="transaction-table-id" class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">Sender</th>
    <th scope="col">Reciever</th>
    <th scope="col">Amount</th>
    <th scope="col">Actions</th>
  </tr>
 </thead>
 <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.sender_account %></td>
      <td><%= transaction.reciever_account %></td>
      <td><%= transaction.amount %></td>
     <td>
       <button class="btn btn-light"><%= link_to 'Edit', edit_account_transaction_path(@account.id,transaction) %></button>
      
       <button class="btn btn-light"><%= link_to 'Show', account_transaction_path(@account.id,transaction) %></button>
    
     </td>
      

    </tr>
    <%end%>
 </tbody>
 </thead>
 </table>


<h1>Recieved transactions</h1>
  
<table id="recieved-trans-table-id" class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">Sender</th>
    <th scope="col">Reciever</th>
    <th scope="col">Name</th>
    <th scope="col">Amount</th>
  </tr>
 </thead>
 <tbody>
  <% @recieved.each do |transaction| %>
    <tr>
      <td><%= transaction.sender_account %></td>
      <td><%= transaction.reciever_account %></td>
      <td><%= transaction.reciever_title %></td>
      <td><%= transaction.amount %></td>
      

    </tr>
    <%end%>
 </tbody>
 </thead>
 </table>

 <script>
 $(document).ready( function () {
  $('#transaction-table-id thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#transaction-table-id thead');
  $('#transaction-table-id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
} );







 $(document).ready( function () {
  $('#recieved-trans-table-id thead tr')
        .clone(true)
        .addClass('filters-rec')
        .appendTo('#recieved-trans-table-id thead');
  $('#recieved-trans-table-id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters-rec th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters-rec th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
} );
 </script>
 