<h1>Listing Accounts</h1>
  
<table id="account-table-id" class="table">
<thead class="thead-light">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Account Number</th>
    <th scope="col">Type</th>
    <th scope="col">Balance</th>
    <th scope="col">Holder</th>
    <th scope="col">Bank</th>
    <th scope="col">Status</th>
    <th scope="col">Actions</th>
  </tr>
 </thead>
 <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td><%= account.title %></td>
      <td><%= account.account_no %></td>
      <td><%= account.account_type %></td>
      <td><%= account.balance %></td>
      <td><%= account.user.firstname %></td>
      <td><%= account.bank.title %></td>
      <td><%= account.status %></td>
      <td>
      <%if !account.pending?%>
      <button class="btn btn-light"><%= link_to 'New Transaction', new_account_transaction_path(account) %></button>
      <%end%>
       <button class="btn btn-light"><%= link_to 'Destroy', account_path(account), method: :delete, data: { confirm: 'Are you sure?' } %></button>
       
       <button class="btn btn-light"><%= link_to 'Edit', edit_account_path(account) %></button>
      
       <button class="btn btn-light"><%= link_to 'Show', account_path(account) %></button>
      <%if current_user.admin? && account.status="pending"%>
       <button class="btn btn-light"><%= link_to 'Approve', approve_account_path(account) %></button>
      <%end%>
     </td>
      

    </tr>
    <%end%>
 </tbody>
 </thead>
 </table>
 <script>
 $(document).ready( function () {
  $('#account-table-id thead tr')
        .clone(true)
        .addClass('filters')
        .appendTo('#account-table-id thead');
  $('#account-table-id').DataTable({
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
            var api = this.api();
 
            // For each column
            api
                .columns()
                .eq(0)
                .each(function (colIdx) {
                    // Set the header cell to contain the input element
                    var cell = $('.filters th').eq(
                        $(api.column(colIdx).header()).index()
                    );
                    var title = $(cell).text();
                    $(cell).html('<input type="text" placeholder="' + title + '" />');
 
                    // On every keypress in this input
                    $(
                        'input',
                        $('.filters th').eq($(api.column(colIdx).header()).index())
                    )
                        .off('keyup change')
                        .on('change', function (e) {
                            // Get the search value
                            $(this).attr('title', $(this).val());
                            var regexr = '({search})'; //$(this).parents('th').find('select').val();
 
                            var cursorPosition = this.selectionStart;
                            // Search the column for that value
                            api
                                .column(colIdx)
                                .search(
                                    this.value != ''
                                        ? regexr.replace('{search}', '(((' + this.value + ')))')
                                        : '',
                                    this.value != '',
                                    this.value == ''
                                )
                                .draw();
                        })
                        .on('keyup', function (e) {
                            e.stopPropagation();
 
                            $(this).trigger('change');
                            $(this)
                                .focus()[0]
                                .setSelectionRange(cursorPosition, cursorPosition);
                        });
                });
        },
    });
} );
 </script>